# Workflow name
name: Build and Publish Storybook to GitHub Pages

on:
  # Event for the workflow to run on
  push:
    branches:
      - "publish-documentation" # Replace with the branch you want to deploy from

permissions:
  contents: read
  pages: write
  id-token: write

# List of jobs
jobs:
  deploy:
    runs-on: ubuntu-latest
    #environment:
    #name: github-pages
    #url: ${{ steps.deploy.outputs.page_url }}
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm" # Add caching for faster builds. Replace with your package manager configuration as needed.
      - name: Install dependencies
        run: npm ci # Replace the command if you use yarn or pnpm
      - name: Build Storybook
        run: npm run build-storybook
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./storybook-static" # Replace with your Storybook build output directory if different
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
